 
	.header{



		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		width: 100%;
		background-color: black;
		position: absolute;
		text-align: center;
		pointer-events: none;



	}


	.Logo{
		left:0;
		top: 0;
		width: 100%;
		padding-top: 17px;
		padding-bottom: 15px;
		background-color: rgba(0,0,0,255) ;
		object-position: center;
		display: flex;
		justify-content: center;
		position: fixed;
		background-position: center center;
		text-align: center;
		z-index: 2;



	}


	.footer{
		left:0;
		bottom: 0;
		width: 100%;
		z-index: 2;
		background-color: black;
		object-position: center;
		justify-content: center;
		position: fixed;
		background-position: center center;
		text-align: center;


	}





	.footertext{
		position: fixed;
		left:0;
		bottom: 0;
		width: 100%;
		background-color: transparent;
		font-family: Geometria ;
		text-align: center;
		font-weight: normal;
		padding-bottom: 12.75px;
		font-size: 14.5px;
		color: white;
		z-index: 2;

	}





::-webkit-scrollbar-button {
	position: absolute;
background-repeat:no-repeat;
width:0;
height:0;
}

::-webkit-scrollbar-track {
background-color:#000000
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0;
border-radius: 20px;
background-color:#414141;
}

::-webkit-scrollbar-thumb:hover{
background-color:#ffffff;
}

::-webkit-resizer{
background-repeat:no-repeat;
width:0;
height:0
}

::-webkit-scrollbar{
width: 8px;
}


.Block{
	padding-top: 99px;
	display: flex;
    align-items: center;
    justify-content: center;
}


.scroll  { 
	margin: 0 20% 0 20%;
	padding: 10% 0px;

}

.scroll div img {
	/*width: 1200px;*/
	/*height: 675px ;*/
	width: 100%;
	height: 100% ;



}

.scroll-scale {
	width: 90%;
	height: 90%;

}


.margin {
margin: 0;
}

div p img:hover {
	border: 3px solid green;
}

.Background1
{
	background-image: url("../../1st Galery of Side A/Galery/Background/sakura.jpg" ) ;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20%;
	width: auto;
	position: relative;
	overflow: hidden;

}
.backgroundblur {

}

	.Background2
	{
		background-image: url("../../1st Galery of Side A/Galery/Background/Cube5.jpg");
		background-repeat: repeat-y;
		background-size: cover;
		height: 50%;
		width: auto;
		position: relative;
		overflow: hidden;

	}



.image-background{
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}


.background-container {
	height: 1080px;
	position: relative;
}


.image-background2 {
	position: absolute;
	padding-top: 985px ;
	left: 0;
	top: 0;
	z-index: -1;
}

.header-container p img {
	display: flex;
	justify-content: center;
	flex-wrap: wrap
}



.text{
	padding-top: 14%;
	padding-bottom: 8%;
	font-family: Geometria;
	font-weight:bold;
	color: white;
	font-size: 32px;
	width: 50%;

}

.Text2{
	border-width:850px ;
	font-family: Geometria ;
	font-weight: normal;
	color: white;
	font-size: 32px;
}

	p.dline {
		line-height: 30px;
	}
	p {
		line-height: 15px;
	}

	.images{
		padding-top: 99px;
		display: flex;
		justify-content: center;
	}

	.image{

	}

	.image2{
		padding-left: 15px;
	}

	.image3{
		padding-left: 15px;
	}


	.paragraph{
		font-family: Geometria;
		color:white ;
		font-size: 18.5px;
	}

	a.linkbutton{
		background: #ce3a3a ;
		display: block;
		width: 242px;
		height: 36px;
		text-decoration: none;
		color: white;
		font-family: Geometria;
		font-weight:bold;
		font-size:24px;
		padding-top: 10px;
		padding-bottom: 10px;



	}

	a.linkbutton:hover{
		background: #3a1010 ;
	}


	li {
		margin-top: 20px;
		position: relative;
		float: left;
		margin-right: 20px;
	}

	.prev,
	.next {
		position: absolute;
		top: 45%;
		height: 79px;
		width: 59px;
		z-index: 1;
		cursor: pointer;
		overflow: hidden;

	}

	.next {
		right: 0;
		margin: 0 -200px;
		content: url("../../1st Galery of Side A/Galery/Signs/Right.ico");
	}
	.next:hover{
		right: 0;
		margin: 0 -200px;
		content: url("../../1st Galery of Side A/Galery/Signs/Right.ico");
		opacity: 70%;
	}

	.prev {
		left: 0;
		margin: 0 -200px;
		content: url("../../1st Galery of Side A/Galery/Signs/Left.ico");
	}

	.prev:hover {
		left: 0;
		margin: 0 -200px;
		content: url("../../1st Galery of Side A/Galery/Signs/Left.ico");
		opacity: 70%;
	}

	.scroll-style {
		pointer-events: none;
	}


    .footer-copyright {
		background-color: #bc1212;
		height: 1080px;
		background-repeat: repeat-y;
        position: relative;
    }

